<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282130381187-d92rtr1j79v24oah7ih8u8pi7dnqldd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282130381187-d92rtr1j79v24oah7ih8u8pi7dnqldd9</string>
	<key>API_KEY</key>
	<string>AIzaSyC4PrIhZZqNeLK6xYzNoxUJpLlAy2NzqXE</string>
	<key>GCM_SENDER_ID</key>
	<string>282130381187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.posIosBvhn</string>
	<key>PROJECT_ID</key>
	<string>posioshnapp</string>
	<key>STORAGE_BUCKET</key>
	<string>posioshnapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282130381187:ios:3db77fdea8cd05dc131eb6</string>
</dict>
</plist>